h1 {
  color: maroon;
}

h2.destination {
  font-family: cursive;
}

p {
  font-family: Arial;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}
